.ppb-block, .ppb-row {
	outline: 0 solid rgba( 0,0,0,0.25 );
	border: 1px solid rgba(0,0,0,0);
	transition: all 0.5s 0.25s;
}

.pme-editing {
	outline: 9999px solid rgba( 0,0,0,0.25 );
	border: 1px solid #ef4832;
}

.pme-toolbar {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -50vw;
	width: 100vw;
	z-index: 9999;
	text-align: center;
	background: rgb(239, 72, 50);
	color: #fff;
	justify-content: space-between;
	&.pme-toolbar-bottom {
		top: auto;
		bottom: 0;
	}
	* {
		color: inherit;
	}
	input, select, .fa {
		margin: 0 2px;
	}
	input, select {
		margin: 4px;
		line-height: 20px;
		padding: 3px 5px;
		border-radius: 0;
		-webkit-appearance: none;
		background: none;
		border: 1px solid;
		width: 32%;
	}
	.fa {
		font-size: 25px;
		width: 32px;
		line-height: 32px;
		padding: 4px 0 1px;
	}
	.pme-separator {
		border-left: 1px solid rgba(255,255,255,0.5);
		margin: 0 10px;
		height: 25px;
	}
}

.pme-dropdown-toggle {
	position: relative;
	.fa {
		display: block;
		padding: 0;
	}
	.pme-dropdown {
		padding-top: 2px;
		display: flex;
		flex-direction: row;
		position: absolute;
		top: 100%;
		left: -2px;
		background: #d42;
		border-top: 1px solid #c30;
	}
}